<div class="modal-header">
    <div class="modal-title">Delete Contact</div>
</div>
<div class="modal-body">
    <div class="text-center">
        <h5>Are you sure to delete the selected contact?</h5>
    </div>
    <div class="btn-toolbar justify-content-center">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-danger" (click)="deleteContact()">Yes</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="close()">No</button>
        </div>
    </div>
</div>
